{#
/**
 * @file
 * Default theme implementation to list dependent content bundles available for adding content.
 *
 * This list is displayed on the Add dependent content admin page.
 *
 * Available variables:
 * - create_bundle_url: Path to create dependent content type.
 * - bundles: A list of dependent content bundles, each with the following properties:
 *   - label: Label of this bundle of dependent content.
 *   - url: Path to the add dependent content of this bundle page.
 *   - description: Description of this bundle of dependent content.
 *
 * @see template_preprocess_dependent_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% if bundles is empty %}
  {% trans %}
    <p>You have not created any dependent content type yet. Go to the <a href="{{ create_bundle_url }}">dependent content type creation page</a> to add a new dependent content type.</p>
  {% endtrans %}
{% else %}
  <ul class="admin-list">
    {% for bundle in bundles %}
      <li class="clearfix">
        <a href="{{ bundle.url }}">
          <span class="label">{{ bundle.label }}</span>
          <div class="description">{{ bundle.description }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
