{#
/**
 * @file dependent_content.html.twig
 * Default theme implementation to present Dependent content data.
 *
 * This template is used when viewing Dependent content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dependent_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'dependent-content',
    'dependent-content--type-' ~ dependent_content.bundle|clean_class,
    not dependent_content.isPublished() ? 'dependent-content--unpublished',
    view_mode ? 'dependent-content--view-mode-' ~ view_mode|clean_class
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
